// compress: true

@import "vars";

html {
    font-size: 15px;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    color: @black;
    background-color: @light_blue;
    overflow-x: hidden;
    position: relative;

    &::after {
        content: "";
        max-width: 90rem;
        height: 100%;
        background-color: @white;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

// Media


// Blocks
@import "blocks/container.less";
@import "blocks/header.less";
@import "blocks/nav.less";
@import "blocks/intro.less";
@import "blocks/overflow.less";
@import "blocks/about.less";
@import "blocks/slider.less";
@import "blocks/news.less";
@import "blocks/partners.less";
@import "blocks/footer.less";

// Helpers
@import "btns.less";
@import "title.less";