// main: ../style.less

.footer {
    background-color: #d4e8f8;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    padding: 3rem 0 3rem;
}

.footer__col {
    width: 49%;
    height: auto;

    text-align: left;
    line-height: 2;

    a {
        color: @red;
        text-decoration: none;
        font-size: .9rem;

        &:hover {
            text-decoration: underline;
        }
    }
}

.footer__subtitle {
    font-weight: bold;
}

@media @tablet-s {
    .footer__title {
        font-size: 1rem;
    }

    .footer__subtitle {
        font-size: .8rem;
    }

    .footer__col a {
        font-size: .8rem;
        line-height: 0;
    }
}

@media @mobile {
    .footer__col {
        line-height: 1.7rem;
    }
    .footer__title {
        font-size: .7rem;
    }

    .footer__subtitle,
    .footer__col a {
        font-size: .6rem;
    }

    .footer__post {
        font-size: 1rem;
    }

    .footer__name {
        font-size: .8rem;
    }
}