// main: ../style.less

.header {
    position: absolute;
    width: 100%;
    padding: .8rem 0;

    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: background-color .1s linear;

    opacity: 0;

    &.show {
        opacity: 1;
        transition: opacity 1s ease .2s;
    }

    &.fixed {
        padding: .3rem 0;

        background-color: @light_black;
        box-shadow: 0 3px 10px fade(@light_black, 80);

        position: fixed;
        top: 0;
        left: 0;
        right: 0;

        transform: translate3d(0, 0, 0);

        .header__logo {
            width: 45px;
            height: 45px;
        }
    }

    &.active {
        background-color: @light_black;
    }
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logos {
    display: flex;
} 

.header__logo {
    width: 70px;
    height: 70px;

    background: url("../logo.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;

    &--tstu {
        background: url("../tstu.png") center no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        width: 100px !important;
        margin-left: 2rem;
    }
}

@media @tablet {
    .header__logo {
        width: 62px;
        height: 62px;
    }
}

@media @tablet-s {
    .header__logo {
        width: 45px;
        height: 45px;

        &--tstu {
            margin-left: 0rem;
        }
    }
}