// main: ../style.less
.nav {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav__link {
    position: relative;
    margin-left: 2rem;
    text-transform: uppercase;
    color: @white;
    font-size: 1.4rem;
    text-decoration: none;

    transition: .1s linear;

    &:hover {
        opacity: .6;
    }
}