// main: ../style.less

.news {
    opacity: 0;
    transform: translateY(10%);
    transition: all 1s ease;

    &.show {
        opacity: 1;
        transform: translateY(0%);
    }
}

.news__content {
    display: flex;
    justify-content: space-between;
}

.news__item {
    display: flex;
    flex-direction: column;
    width: 31%;
    height: auto;
    text-align: left;
}

.news__photo {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1.3rem;

    margin-bottom: 1.3rem;
}

.news__subtitle {
    font-size: 1.6rem;
    font-weight: 700;
    color: @blue;
}

.news__text {
    font-size: 1.3rem;
    font-weight: 300;
    font-style: italic;
    margin: 1rem 0 1.3rem;
}

.news__data {
    color: @red;
    font-weight: 300;
    font-style: italic;
}

@media @tablet-m {
    .news__text {
        font-size: 1rem;
    }
}