// main: ../style.less

.partners {
    opacity: 0;
    transform: translateY(10%);
    transition: all 1s ease;

    &.show {
        opacity: 1;
        transform: translateY(0%);
    }
}

.partners__inner {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.partners__table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.partners__link {
    display: none;

    width: 100%;
    height: auto;
    max-width: 12.5%;

    margin-right: 1.1rem;
    margin-bottom: 0.6rem;
}

.partners__link#technosphere {
    pointer-events: none;
    cursor: default;
}

.partners__img {
    width: 100%;
    height: auto;
    object-fit: contain;
    
    min-height: 200px;
}

@media @tablet-l {
    .partners__link {
        max-width: 20%;
    }
}

@media @tablet-s {
    .partners__link {
        max-width: 25%;
    }
}

@media @mobile {
    .partners__link {
        min-width: 50%;
    }
}