// main: ../style.less

.slider__block {
    width: 100%;
    max-width: inherit;

    opacity: 0;
    transform: translateY(10%);
    transition: all 1s ease;

    &.show {
        opacity: 1;
        transform: translateY(0%);
    }
}

.slick-slider{
	min-width: 0;
}

.slick-track{
	display: flex;
	align-items: flex-start;
    overflow: hidden;
}

.slider {
	position: relative;

    .slick-list {
        overflow: hidden;
    }
}

.slick-arrow{
	position: absolute;
	top: 45%;
	margin: -2rem 2rem 0px;
	z-index: 10;
	font-size: 0;
	width: 20px;
	height: 45px;
    border: none;
    opacity: .5;

    &.slick-prev{
        left: -4rem;
        background: url('../images/svg/arrow-left.svg') 0 0 / 100% no-repeat;
    }

    &.slick-next{
        right: -4rem;
        background: url('../images/svg/arrow-right.svg') 0 0 / 100% no-repeat;
    }
}

.slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;

    li{
        list-style: none;
        margin: 0px .6rem;

        &.slick-active button{
            background-color: transparent;
            border: 1px solid @red;
        }
    }

    button{
        transform: translateX(-20px);
        font-size: 0;
        width: 10px;
        height: 15px;
        background-color: @red;
        border-radius: 50%;
    }
}

.slider__item {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 1rem 1.5rem;

    color: @light_blue;
    font-size: 1.3rem;

    background: @red;
    text-align: center;
    height: 155px;
    border-right: 1px solid @light_blue;
}

@media @tablet {
    .slider__item {
        height: 200px;
    }
}

@media @tablet-m {
    .slider__item {
        // height: 230px;
        font-size: 1rem;
    }
}